@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap');

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    text-align: center;
}

:root {
    font-family: 'Open Sans', sans-serif;
    --main-color: black;
    --accent-color: rgb(173, 24, 24);
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
}

header nav .logo {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 5px;
}

header nav .menu-items a {
    display: inline;
    border: 1px solid transparent;
    padding: 3px;
    text-decoration: none;
    color: var(--main-color);
}

.menu-items a:hover {
    background-color: var(--accent-color);
    color: white;
    border: 2px solid black;
    padding: 2px;
}

#active {
    font-weight: bold;
}

.preview {
    background-image: url(../images/preview.png);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

@media (min-width: 800px) {

     header nav .logo {
         display: flex;
     }
     
     header nav {
        display: flex;
     }

     header nav .menu-items { 
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 1;
     }

}

.paragraph {
    display: flex;
    margin: 1px;
    font-size: 1rem;
    text-align: center;
    align-items: center;
}

hr {
    width: 100%;
    border: var(--accent-color) 2px solid;
}

.left {
    float: left;
    border: 2px black solid;
    border-radius: 5px;
}

.right {
    float: right;
    border: 2px black solid;
    border-radius: 5px;
}

.cent {
    margin: auto;
    border: 2px black solid;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card {
    display: flex;
    width: 100%;
    justify-content: center;
}

footer {
    justify-content: center;
}

.icons {
    max-width: 100px;
}

.links {
    display: grid;
    width: 30%;

}

.ico {
    display: flex;
}